
/* REQUIRED */
.close{
    visibility: hidden;
}

#coin-search-input-container{
    position: relative;
}

.autocomplite-list{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 20vh;
    width: 100%;
    z-index: 99;
    position: absolute;
    list-style-type: none;
}

/* FRAMEWORK DEPENDENT */
::selection{
    color: white;
    background-color: black;
}

body{
    height: 100vh;
}

#main-container{
    padding-top: 100px;
}

#app-window{
    max-width: 400px;
}

fieldset + fieldset{
    margin-top: 10px;
}

#coin-search-container{
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#coin-info{
    margin-top: 20px;
}