.close{
    visibility: hidden;
}

#coin-search-container{
    position: relative;
}

.autocomplite-list{
    overflow-y: auto;
    max-height: 20vh;
    width: 100%;
    z-index: 99;
    position: absolute;
    list-style-type: none;
}
